<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}

  {{ with .Site.Params.tabIcon }}
  <link rel="icon" type="image/png" href="{{ . | absURL }}">
  {{ end }}

  {{ with .Site.Params.appleTouchIcon }}
  <link rel="apple-touch-icon" href="{{ . | absURL }}">
  {{ end }}

  {{ $bootstrapCss := "css/bootstrap.min.css" }}
  <link rel="stylesheet" href="{{ $bootstrapCss | absURL }}" />

  {{ if .IsHome }}
  {{ $homepage := "" }}{{ range first 1 .Site.Menus.nav }}{{ $homepage = .Name }}{{ end }}
  <title>{{ $homepage }} | {{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end }}

  {{ partial "style.html" . }}
</head>