{{ range where .Pages.ByPublishDate.Reverse "Section" "post" }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
    {{ range .Params.tags }}
    <small><code><a href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></code></small>
    {{ end }}
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </p>
{{ end }}